%h2 Notifications

%ul.nav.nav-tabs
  %li.nav-item
    = link_to "All notifications (#{current_player.notifications.count})", notifications_path, class: "get_notifications nav-link active", remote: true, data: { type: :json }
  %li.nav-item
    = link_to "Unviewed notifications (#{current_player.notifications.unviewed.count})", unviewed_notifications_path, class: "get_notifications nav-link", remote: true, data: { type: :json } 

.button.mb-3.mt-3
  = button_to "Mark all as read", mark_all_as_read_notifications_path, class: "get_notifications", remote: true, data: { type: :json }, method: :patch

%table.table#notifications_list
  %tr.heading
    %th Notification
    %th DateTime
    %th Game
  - if @notifications.present?
    - @notifications.each do |n|  
      %tr
        %td.body= "#{n.body}"
        %td.created_at= "#{n.created_at.strftime("%H:%M (%Y/%m/%d)")}"
        %td.link_to_game= link_to "Game ##{n.game.id}", game_path(n.game)
  - else
    %tr
      %td No records
      %td
      %td