<nav class="navbar navbar-expand-sm justify-content-md-center">
  <ul class="navbar-nav">
    <li class="nav-item">
      <div class="nav-link"><%= link_to 'Locations', locations_path %></div>
    </li>
    <li class="nav-item">
      <div class="nav-link"><%= link_to 'All games', games_path %></div>
    </li>
    <li class="nav-item">
      <div class="nav-link"><%= link_to 'My games', player_games_path(current_player) %></div>
    </li>
    <li class="nav-item">
      <div class="nav-link"><%= link_to 'Players', players_path %></div>
    </li>
    
    <% if current_player.present? %>

    <li class="nav-item">
      <div class="nav-link">
        <%= link_to "Notifications (new: #{current_player.notifications.unviewed.count})", notifications_path %>
      </div>
    </li>
    <li class="nav-item">
      <div class="nav-link">
        <%= link_to "Invites (new: #{current_player.invites_received.invites_new.count})", invites_path %>
      </div>
    </li>
    <li class="nav-item">
      <div class="nav-link">
        <%= link_to "Sign out (#{current_player.email})", sign_out_path, method: :delete %>
      </div>
    </li>

    <% end %>


  </ul>
</nav>