  <tr> 
    <td><%= game.location.title %></td>
    <td><%= game.starting_time %></td>
    <td><%= game.organizator.email %></td>
    <td><%= game.players.count %></td>
    <td><%= link_to 'Show', game_path(game) %></td>
  </tr>