<h2>Players list</h2>

<% if @game.passed.nil? %>
  <div class="mb-3">
  <%= form_with model: @game_player, url: game_game_players_path(@game) do |f| %>
  <%= f.collection_select :id, Player.order(:email), :id, :email, prompt: 'Select' %>
  <%= f.submit 'Add player' %>
  <% end %>
  </div>
<% end %>

  <table class="table"> 
    <th>Email</th>
    <th>Actions</th>
<% if @game_players.present? %>
  <% @game_players.each do |game_player| %>
  <tr>
    <td><%= game_player.player.email %></td>
    <td><%= link_to 'Remove player', game_player_path(game_player), method: :delete, data: {confirm: "Are you sure?"} %></td>
  </tr>
  <% end %>
<% else %>
<tr>
  <td>No players yet</td>
  <td></td>
</tr>
<% end %>
  </table>
