.block.mt-2 
  %h2 Invites

  - if @game.passed.nil?
    .mb-3
      = form_with model: @game_player, url: game_invites_path(@game) do |f|
        = f.collection_select :id, Player.players_available_for_invite(@game).where.not(id: current_player.id).order(:email), :id, :email, prompt: 'Select'
        = f.submit 'Invite'  
  
  = render partial: "invites/list"


.block.mt-2
  %h2 Players list

  %table.table
    %th Email
    %th Actions
    - if @game.game_players.present?
      - @game.game_players.each do |game_player|
        %tr
          %td= game_player.player.email
          %td= link_to 'Remove player', game_player_path(game_player), method: :delete, data: {confirm: "Are you sure?"}
      
    - else
      %tr
        %td No players yet
        %td
