<h2>Players list</h2>

<% if @game.passed.nil? %>
  <div class="mb-3">
  <%= form_with model: @game_player, url: game_game_players_path(@game) do |f| %>
  <%= f.collection_select :id, Player.order(:email), :id, :email, prompt: 'Select' %>
  <%= f.submit 'Add player' %>
  <% end %>
  </div>
<% end %>

<form>
  <label for="attended_all">All attended?</label>
  <input id="attended_all" class="check_box_all" type="checkbox">
  <label for="paid_all">All paid?</label>
  <input id="paid_all" class="check_box_all" type="checkbox">
</form>

<div class="alert alert-warning" role="alert">
  <p>Please mark player info and press 'submit'</p>
</div>


<%= form_for @game, method: :patch do |f| %>
<%= f.submit 'Submit' %>

<table class="table"> 
  <th>Email</th>
  <th>Attended?</th>
  <th>Paid?</th>

<% @game.game_players.each do |game_player| %>

  <tr>
    <td><%= game_player.player.email %></td>  
    <td>
        <%= f.fields_for :game_players, game_player do |gp_fields| %>
          <%= gp_fields.check_box :attended, value: game_player.attended %>
    </td>
    <td>
          <%= gp_fields.check_box :paid, value: game_player.paid %>
        <% end %>
    </td>
  </tr>
      
<% end %>

<% end %>

</table>
