<% if @game_player&.errors.present? %>
<%= render 'shared/errors', resource: @game_player %>
<% end %>

<% if @invite&.errors.present? %>
<%= render 'shared/errors', resource: @invite %>
<% end %>


<h2>Show game</h2>
    <p><strong>Status: </strong><span style="color: <%= status_text_color(@game)%>;"><%= game_status(@game) %></span></p>

<% if @game.confirmed.nil? %> 
  <table class="mb-3">
  <td style="width: 20px;">
  <%= button_to "Cofirm game", confirm_game_path(@game), class: "btn btn-outline-success btn-sm" %>
</td>
<td>
  <%= button_to "Cancel", cancel_game_path(@game), class: "btn btn-outline-danger btn-sm", data: {confirm: "Are you sure you want cancel the game?"} %>
</td>
  </table>
<% end %>


<% unless current_player == @game.organizator %>
  <% if @game.players_assigned.include?(current_player) %>
    <%= button_to "Leave", leave_game_path(@game), class: "btn btn-primary justify-content-end" %>
  <% else %>
    <%= button_to "Join", join_game_path(@game), class: "btn btn-primary" %>
  <% end %>
<% end %>


  <p>Location: <%= @game.location.title || 'none' %></p>
  <p>Starting time: <%= @game.starting_time_formatted || 'none' %></p>
  <p>End time: <%= @game.end_time_formatted || 'none' %></p>
  <p>Players: <%= @game.players_assigned.count %></p>
  <p>Organizator: <%= @game.organizator.email %></p>
  <p>(Min. players: <%= @game.min_players || 'none' %>; Max. players: <%= @game.max_players || 'none' %>)</p>

<% if @game.confirmed.nil? %>
<%= render 'games/show_players_list' %>
<% elsif @game.confirmed %>
<%= render 'games/update_players_list' %>
<% end %>

<%= link_to 'Back to games', games_path %>
