<% if @game_player&.errors.present? %>
<%= render 'shared/errors', resource: @game_player %>
<% end %>

<h2>Show game</h2>

  <p><strong>Status: </strong><span style="color: <%= status_text_color(@game)%>;"><%= status(@game) %></span></p>
    <% if @game.passed.nil? %>
      <div class="alert alert-warning" role="alert">
        <p>Waiting for status update:</p>
      <%= form_with url: game_path(@game), model: @game, method: :patch do |f| %>
      <%= f.label :passed, "Game passed as planned?" %>
      <%= f.check_box :passed %><br>
      <%= f.submit 'Save' %>
      <% end %>
      </div>
    <% end %>
  <p>Location: <%= @game.location.title || 'none' %></p>
  <p>Starting time: <%= @game.starting_time || 'none' %></p>
  <p>End time: <%= @game.end_time || 'none' %></p>
  <p>Players: <%= @game.players_assigned.count %></p>
  <p>Organizator: <%= @game.organizator.email %></p>
  <p>(Min. players: <%= @game.min_players || 'none' %>; Max. players: <%= @game.max_players || 'none' %>)</p>

<% if @game.passed.nil? %>
<%= render 'show_players_list' %>
<% elsif @game.passed %>
<%= render 'update_players_list' %>
<% end %>

<%= link_to 'Back to games', games_path %>
