<br><br>

<tr class="form-inline-row-edit hide">
  <%= form_with model:  @location, 
            url:    update_inline_location_path(location), 
            local:  true, 
            class:  'form-inline',
            data:   { location_id: location.id },
            method: :patch do |form| %>

    <td><%= form.text_field location.errors.present? ? "title" : "location[title]", value: location.title %></td>
    <td><%= form.number_field location.errors.present? ? "default_min_players" : "location[default_min_players]", value: location.default_min_players %></td>
    <td><%= form.number_field location.errors.present? ? "default_max_players" : "location[default_max_players]", value: location.default_max_players %></td>
    <td><%= link_to 'Cancel', {}, data: {id: location.id}, class: 'form-inline-cancel' %></td>
    <td><%= form.submit 'Save', data: {id: location.id}, class: 'form-inline-save' %></td>
    <td></td>
  <% end %>

</tr>

